body{
    background-color: hsla(204, 20%, 80%, 0.556);
}
#container{
    display: grid;
    
}
a {
    color: #141477;
    
}

/* FOOTER */

.footer{
    margin-top: 50px;
    display: grid;
    grid-template-areas: "about"
    "sub";
    border-top: solid;

}
#about{
    grid-area: about;
    background-color: #e8eadc;
    font-size: 20px;
}

#ft-img{
    display:flex;
    height: 100px;
    width: auto;
    justify-content: center;
    
}
#ft-img img{
    width: auto;
    height: auto;
}
#subscribe{
    grid-area: sub;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}
#sub-btn{
    background-color: rgb(237, 212, 195);
    margin-left: 25%;
    height: 50%;
    font-weight: bold;
}

input{
    height: 50%;
    width: auto;
}
/* SCREEN SIZES */

@media(max-width: 320px){
    #container{
        
        grid-template-areas:
        "nav nav nav"
        "main main main"
        "other other other"
        "ft ft ft";
    }
    header{
        grid-area: nav;

    }
    #others{
        grid-area: other;
        display: grid;
        
    }
    footer{
        grid-area: ft;
    }
    .navbar a{
        padding: 25px;
    }

}


@media(min-width: 600px) and (max-width: 900px){
    #others{
        grid-template-columns: 1fr 1fr;

    }
    .main{
        display: grid;
        grid-template-areas: 
        "img title"
        "img summary"
        "img read";
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(253,248,243,1) 0%, rgb(192 204 120) 100%);
        padding: 29px 20px 50px 20px;

    }
    
    .main .title{
        grid-area: title;
        margin-top: -10px;
    }
    .main .summary{
        grid-area: summary;
        padding: 21px;
        background: #ffffffb8;
        padding-top: 4px;
        margin-top: -15%;
    }
    .main #img{
        grid-area: img;
       
    }
    .main img{
        height: 90%;
    }
    .main a{
        grid-area: read;
    }

}


@media(min-width: 901px){
    #others{
        grid-template-columns: 1fr 1fr;

    }
    .main{
        display: grid;
        grid-template-areas: 
        "img title"
        "img summary"
        "img read";
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(253,248,243,1) 0%, rgb(192 204 120) 100%);
        padding: 29px 20px 50px 20px;

    }
    
    .main .title{
        grid-area: title;
        margin-top: -10px;
    }
    .main .summary{
        grid-area: summary;
        padding: 21px;
        background: #ffffffb8;
        padding-top: 4px;
        margin-top: -22%;
    }
    .main #img{
        grid-area: img;
       
    }
    .main img{
        height: 90%;
    }
    .main a{
        grid-area: read;
    }
    #blog-1 img{
        height: 390px;
    }

}