body{
    background-color: hsla(204, 20%, 80%, 0.556);
}
.blog a, p{
    font-family: Nanum Myeongjo, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 25px;
}
#container{
    display: grid;
    
}
#others{
    display: grid;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: #e8eadc;
}
.nav-bar h2{
    margin-top: -1px;
}

.blog{
    text-align: center;
    background-color: rgb(253, 248, 243);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 33px -3px 50px;
    padding: 10px 20px 28px 20px;  
}
.blog img{
    
    width: 80%;
    border: 2px solid;
}
.title{
   
    font-family: 'DM Serif Display', Times, 'Times New Roman', serif;
}

.footer{
    margin-top: 50px;
    display: grid;
    grid-template-areas: "about"
    "sub";
    border-top: solid;

}
#about{
    grid-area: about;
    background-color: #e8eadc;
    font-size: 20px;
}

#ft-img{
    display:flex;
    height: 100px;
    width: auto;
    justify-content: center;
    
}
#ft-img img{
    width: auto;
    height: auto;
}
#subscribe{
    grid-area: sub;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sub-btn{
    background-color: rgb(237, 212, 195);
    margin-left: 25%;
}
.blog:hover{
    box-shadow: #f0974e61 0px 3px 20px 1px;
}
a {
    color: #141477;
    
}
@media(max-width: 320px){
    #container{
        
        grid-template-areas:
        "nav nav nav"
        "main main main"
        "other other other"
        "ft ft ft";
    }
    .nav-bar{
        grid-area: nav;

    }
    #others{
        grid-area: other;
        display: grid;
        
    }
    .footer{
        grid-area: ft;
    }

}

@media(min-width: 901px){
    #others{
        padding: 10px 20px 50px 20px;
        display: flex;

    }
    .main{
        display: grid;
        grid-template-areas: 
        "img title"
        "img summary"
        "img read";
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(253,248,243,1) 0%, rgb(225 195 114) 100%);
        padding: 29px 20px 50px 20px;

    }
    
    .main .title{
        grid-area: title;

    }
    .main .summary{
        grid-area: summary;
        padding: 21px;
        background: #ffffffb8;
    }
    .main #img{
        grid-area: img;
       
    }
    .main img{
        height: 90%;
    }
    .main a{
        grid-area: read;
    }

}

@media(min-width: 600px) and (max-width: 900px){
    #others{
        display: flex;

    }
    .main{
        display: grid;
        grid-template-areas: 
        "img title"
        "img summary"
        "img read";
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(253,248,243,1) 0%, rgb(225 195 114) 100%);
        padding: 29px 20px 50px 20px;

    }
    
    .main .title{
        grid-area: title;

    }
    .main .summary{
        grid-area: summary;
        padding: 21px;
        background: #ffffffb8;
    }
    .main #img{
        grid-area: img;
       
    }
    .main img{
        height: 90%;
    }
    .main a{
        grid-area: read;
    }

}