@import "styles/blog_homepage.css"

/* body{
    background-color: hsla(204, 20%, 80%, 0.556);
}
.title{
   
    font-family: 'DM Serif Display', Times, 'Times New Roman', serif;
}
p{
    font-family: Nanum Myeongjo, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 25px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: #e8eadc;
}
#article{
    padding: 25px;
} */